@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "clash-display";
    src: url("./assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
  }
  @font-face {
    font-family: "clash-grotesk";
    src: url("./assets/fonts/ClashGrotesk-Variable.ttf") format("truetype");
  }

  :root {
    --background: 243.4 8% 95%;
    --foreground: 243.4 5% 0%;
    --card: 243.4 8% 90%;
    --card-foreground: 243.4 5% 10%;
    --popover: 243.4 8% 95%;
    --popover-foreground: 243.4 95% 0%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243.4 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 205.4 10% 85%;
    --muted-foreground: 243.4 5% 35%;
    --accent: 205.4 10% 80%;
    --accent-foreground: 243.4 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 243.4 5% 90%;
    --border: 243.4 20% 50%;
    --input: 243.4 20% 18%;
    --ring: 243.4 75.4% 58.6%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 243.4 10% 5%;
    --foreground: 243.4 5% 90%;
    --card: 243.4 8% 0%;
    --card-foreground: 243.4 5% 90%;
    --popover: 243.4 10% 5%;
    --popover-foreground: 243.4 5% 90%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243.4 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 205.4 10% 15%;
    --muted-foreground: 243.4 5% 60%;
    --accent: 205.4 10% 15%;
    --accent-foreground: 243.4 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 243.4 5% 90%;
    --border: 243.4 20% 18%;
    --input: 243.4 20% 18%;
    --ring: 243.4 75.4% 58.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
